<% variant = favorite.variant %>
<% product = variant.product %>

<div class="d-table-row favorites-item">
  <div class="d-table-cell favorites-item-image">
    <% if variant.images.length == 0 %>
      <%= link_to product_image(variant.product), variant.product %>
    <% else %>
      <%= link_to image_tag(main_app.url_for(variant.images.first.url(:product))), variant.product %>
    <% end %>
  </div>
  <div class="d-table-cell favorites-item-description">
    <h4 class="item-title"><%= link_to product.name, spree.product_path(variant.product) %></h4>
    <% unless variant.can_supply? %>
      <span class="out-of-stock">
        <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
      </span>
    <% end %>
    <ul class="item-details-list" data-hook="favorite_description">
      <% variant.option_values.sort { |ov| ov.option_type.position }.each do |ov| %>
        <li class="item-details">
          <% # TODO: rework option values so options_text method can be used here %>
          <%= "#{ov.option_type.presentation}: #{ov.name.titleize}" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="favorites-item-price d-lg-table-cell">
    <%= variant.display_price.to_html %>
  </div>

  <div class="favorites-item-delete d-lg-table-cell">
    <%= link_to spree.admin_user_favorite_path(@user, favorite.id), method: "delete" do %>
      <%= icon(name: 'garbage',
               classes: 'favorites-item-delete-icon',
               width: 18.9,
               height: 17)  %>
    <% end %>
  </div>
</div>