<%= render partial: 'spree/admin/users/sidebar', locals: { current: :favorites } %>

<% content_for :page_title do %>
  <%= link_to @user.email, spree.edit_admin_user_url(@user) %> /
  <%= Spree.t(:favorites, scope: :favorites) %>
<% end %>


<% if @favorites.present? %>
  <div class="d-table table-responsive" data-hook>
    <div class="active d-none d-lg-table-row favorites-table-header" data-hook>
      <div class="d-table-cell favorite-description-header text-uppercase"><%= Spree.t(:product) %></div>
      <div class="d-table-cell"></div>
      <div class="d-table-cell favorite-price-header text-uppercase"><%= Spree.t(:price) %></div>    
      <div class="d-table-cell favorite-delete-header"></div>
    </div>

    <div class="favorites-table-items" data-hook>
      <%= render partial: 'favorite', collection: @favorites %>
    </div>
  </div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_favorites, scope: :favorites) %>
  </div>
<% end %>


<%= render 'spree/admin/users/lifetime_stats' %>