<% variant = wished.variant %>
<% product = variant.product %>
<% url = spree.product_path(product) %>

<div id="product_<%= product.id %>" class="col-md-3 col-sm-6 col-xs-6 product-list-item" itemscope itemtype="https://schema.org/Product">
  <div class="panel panel-default">
    <div class="panel-body text-center product-body">
      <%= link_to url, itemprop: "url" do %>
        <% if variant.images.length == 0 %>
          <%= small_image(product, itemprop: "image") %><br/>
        <% else %>
          <%= small_image(variant, itemprop: "image") %><br/>
        <% end %>
        <%= content_tag(:span, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: product.name) %>
      <% end %>
      <br/>
    </div>
    <div class="panel-footer text-center">
      <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
        <span class="price selling lead" itemprop="price" content="<%= (product.price_in(current_currency).amount.nil?)? 0 : product.price_in(current_currency).amount.to_d %>">
          <%= display_price(product) %>
        </span>
        <span itemprop="priceCurrency" content="<%= current_currency %>"></span>
      </span>
    </div>
  </div>
</div>