<% variant = favorite.variant %>
<% product = variant.product %>

<% variant_images = Spree::VariantPresenter.new().images(variant) %>
<% data_variant = variant.attributes.merge(images: variant_images).to_json %>
<% data_product_summary = Spree::ProductSummaryPresenter.new(product).call.to_json %>

<div class="d-table-row favorites-item">
  <div class="d-table-cell favorites-item-image">
    <% if variant.images.length == 0 %>
      <%= link_to product_image(variant.product), variant.product %>
    <% else %>
      <%= link_to image_tag(main_app.url_for(variant.images.first.url(:product))), variant.product %>
    <% end %>
  </div>
  <div class="d-table-cell favorites-item-description">
    <h4 class="item-title"><%= link_to product.name, spree.product_path(variant.product) %></h4>
    <% unless variant.can_supply? %>
      <span class="out-of-stock">
        <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
      </span>
    <% end %>
    <ul class="item-details-list" data-hook="favorite_description">
      <% variant.option_values.sort { |ov| ov.option_type.position }.each do |ov| %>
        <li class="item-details">
          <% # TODO: rework option values so options_text method can be used here %>
          <%= "#{ov.option_type.presentation}: #{ov.name.titleize}" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="favorites-item-price d-lg-table-cell">
    <%= variant.display_price.to_html %>
  </div>

  <div class="favorites-item-actions d-lg-table-cell">
    <%= link_to spree.user_favorite_path(spree_current_user, favorite.id), method: 'delete' do %>
      <%= icon(name: 'garbage',
               classes: 'favorites-item-actions-delete',
               width: 24,
               height: 27) %>
    <% end %>

    <% cart = inline_svg_tag("empty-cart", class: "favorites-item-actions-add-to-cart", size: "24px*27px") %>
    <%= button_tag cart,
                 class: 'js-favorite-add-to-cart',
                 method: 'post',
                 remote: true,
                 'data-variant': data_variant,
                 'data-product-summary': data_product_summary %>
  </div>

</div>